[submodule "sdk2013/hl2sdk"]
	path = sdk2013/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
[submodule "hl2dm/hl2sdk"]
	path = hl2dm/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
[submodule "dods/hl2sdk"]
	path = dods/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
[submodule "bms/hl2sdk"]
	path = bms/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
[submodule "insurgency/hl2sdk"]
	path = insurgency/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
[submodule "darkmessiah/hl2sdk"]
	path = darkmessiah/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk
